
.idea/.name

.idea/collage.iml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

sass/.sass-cache/6cd8ba550d86ad12b6db2b01822bd21aef99d966/styles.scssc
